<% layout("/layouts/boilerplate.ejs") %>


    
<div class="row"> 
    
    <div class="col-1"></div>

    <div class="col">
        <br>
       <h1>Add stay details</h1>
       <form action="/lists" novalidate class="needs-validation" method="post" enctype="multipart/form-data">
       
        <div class="mb-3 col" >
            <label for="title" class="form-label"> <b> Title </b></label>
            <input class="form-control" name="data[title]" type="text" placeholder="enter title" required >
            <div class="invalid-feedback">Please provide a cathchy Title.</div>
            <div class="valid-feedback">Looks good!</div>
        </div>    
        <div class="mb-3 col">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea  class="form-control" rows="2"   name="data[description]" id="texta" required ></textarea>
        </div>    
        <div class="mb-3">
          <label for="image" class="form-label"><b>Upload Image </b></label>
          <input class="form-control" type="file" name="image[url]" required>
          <div class="invalid-feedback">Please provide an image URL.</div>
      </div> 
        <div class="mb-3">
            <label for="price" class="form-label"><b>Price</b></label>
            <input class="form-control" type="number" placeholder="enter price" name="data[price]" required>
            <div class="invalid-feedback">Price should be valid.</div>
        </div> 
        
        <div class="mb-3">
            <label for="location" class="form-label"><b>Location</b></label>
            <input class="form-control" type="text" name="data[location]" placeholder="Noide,Delhi" required>
            <div class="invalid-feedback">Please provide a valid location.</div>
        </div> 
        <div class="mb-3">
            <label for="country" class="form-label"><b>Country</b></label>
            <input class="form-control" type="text" name="data[country]" placeholder="India" required>
            <div class="invalid-feedback">Please provide a valid country.</div>

        </div>

        
        <button class="btn" style="background-color: #fe424d; color: white;" >Add</button>
       </form> 
    </div>

    <div class="col-4"></div>

</div>

<script>
    (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener(
        "submit",
        event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, 
      false
    );
    })
  })()
</script>