<footer>
    <div class="f-head">
       <div class="f-head1">
            <div class="f-head-company">
                  &copy Hously  Since 2003
            </div>
            <div class="f-head-terms">
            <a href="#">:Privacy</a>
            <a href="#">:Terms</a>
            </div>
        </div>
        <div class="f-head-social">
            Social Media:
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>            
            <i class="fa-brands fa-linkedin"></i>
        </div>

    </div>
</footer>