<% layout("/layouts/boilerplate.ejs") %>



<div class="main-box">
    <div class="info-container">
        <div class="info-header">
            <h2><i class="fa-solid fa-user"></i> <%= user.username %></h2>
        </div>
        <div class="info-details">
            <p><strong>Age:</strong> <%= user.age %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
        </div>
    </div>
    <form action="/lists/logout" method="get">
        <button class="btn" style="background-color: #fe424d; color: white;" >Logout</button>
    </form>
</div>


