<% layout("/layouts/boilerplate.ejs") %>


<div class="row mt-3">
     <div class="col-6 offset-1">
        <h3>Login for smooth visit</h3>

            <form action="/lists/login" method="post" class="needs-validation" novalidate>

                <div class="mb-3 col" >
                    <label for="title" class="form-label"> <b> Username </b></label>
                    <input class="form-control" name="username" type="text" placeholder="Enter username" required >
                    <div class="invalid-feedback">please provide a Username</div>
                    <div class="valid-feedback">Looks good!</div>
                </div> 
                
              <div class="mb-3 col" >
                    <label for="password" class="form-label"> <b> Password </b></label>
                    <input class="form-control" name="password" type="password" placeholder="Enter Password" required >
                    <div class="invalid-feedback">please provide a password</div>
                    <div class="valid-feedback">Looks good!</div>
                </div> 
                 
                <button class="btn btn-success" style=" color: white;" >Login</button>
                <br>
                 <a href="/lists/signup" class="btn btn-success mt-2"> Go for SignUp</a>

            </form>
     </div>
</div>


<script>
    (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener(
        "submit",
        event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, 
      false
    );
    })
  })()
</script>